.board {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

  
  .column {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
    color: #ccc;
  }
  
  .red {
    background-color: red;
    color: #ccc;
  }
  

  